.main_layout {
  min-height: 100dvh;
  background-color: var(--clr-grey-200);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .main_content {
    max-width: 920px;
    width: 100%;
  }
}

@media screen and (min-width: 58em) {
  .main_layout {
    gap: 80px;
  }
}
